extends layout

block head
	script(type='text/javascript', src='/js/basic.js')

block content
	h2 Resource : #{resource.name}
	div
		form#updateForm(action='/resource', method='post')

			input(type='hidden', name='_method', value='put')

			h4 Basic

			input#inputName(
				type='hidden', name='resourceName', value='#{resource.name}')

			div.control-group
				label.control-label(for='inputPath') Path
				.controls
					input#inputPath.span5(
						type='text', name='resourcePath', value='#{resource.path}')

			div.control-group
				label.control-label(for='inputDesc') Description
				.controls
					textarea#inputDesc.span5(rows='3', name='resourceDesc')
						|#{resource.desc}

			h4 Methods
			p Enable or disable the methods of resource access.

			label.checkbox
				if resource.methods.get.enable
					input#checkboxGet(
						type='checkbox', name='methodGet', value='get', checked)
				else
					input#checkboxGet(
						type='checkbox', name='methodGet', value='get')
				span.label.label-inverse Get
				span &nbsp;- to get detail of resource

			label.checkbox
				if resource.methods.post.enable
					input#checkboxPost(
						type='checkbox', name='methodPost', value='post', checked)
				else
					input#checkboxPost(
						type='checkbox', name='methodPost', value='post')
				span.label.label-inverse Post
				span &nbsp;- to create new resource

			label.checkbox
				if resource.methods.put.enable
					input#checkboxPut(
						type='checkbox', name='methodPut', value='put', checked)
				else
					input#checkboxPut(
						type='checkbox', name='methodPut', value='put')
				span.label.label-inverse Put
				span &nbsp;- to update resource

			label.checkbox
				if resource.methods.delete.enable
					input#checkboxDelete(
						type='checkbox', name='methodDelete', value='delete', checked)
				else
					input#checkboxDelete(
						type='checkbox', name='methodDelete', value='delete')
				span.label.label-inverse Delete
				span &nbsp;- to delete resource

			p &nbsp;
			button#buttonSave.btn.btn-primary(type='submit') Save Changes
			|&nbsp;
			a#buttonDelete.btn.btn-danger(
				href='#deleteConfirm', role='button', data-toggle='modal')
				| Delete (Danger!)

	#deleteConfirm.modal.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')

		form#deleteForm(action='/resource', method='post', style='margin:0;')

			input(type='hidden', name='_method', value='delete')
			input#deleteName(type='hidden', name='resourceName', value='#{resource.name}')

			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h3#deleteLabel Deleting Resource
			.modal-body
				p Type the name of resource to confirm deletion.
				input#deleteNameInput.input-block-level(type='text')

			.modal-footer
				button.btn(data-dismiss='modal', aria-hidden='true') Cancel
				button#deleteSubmit.btn.btn-danger(type='submit', disabled) Confirm And Delete