extends layout

block content
	h2 Resource : #{resource.name}	
	div
		form(action='/resource', method='post')

			input(type='hidden', name='_method', value='put')

			h4 Basic

			input#inputName(
				type='hidden', name='resourceName', value='#{resource.name}')

			div.control-group
				label.control-label(for='inputPath') Path
				.controls
					input#inputPath.span5(
						type='text', name='resourcePath', value='#{resource.path}')

			div.control-group
				label.control-label(for='inputDesc') Description
				.controls
					textarea#inputDesc.span5(rows='3', name='resourceDesc')
						|#{resource.desc}

			h4 Methods
			p Select the methods that allow to access

			label.checkbox
				if resource.methods.index.enable
					input#checkboxIndex(
						type='checkbox', name='methodIndex', value='index', checked)
				else
					input#checkboxIndex(
						type='checkbox', name='methodIndex', value='index')
				strong Index
				span &nbsp;- to query and get a list of resource

			label.checkbox
				if resource.methods.get.enable
					input#checkboxGet(
						type='checkbox', name='methodGet', value='get', checked)
				else
					input#checkboxGet(
						type='checkbox', name='methodGet', value='get')
				strong Get
				span &nbsp;- to get detail of resource

			label.checkbox
				if resource.methods.post.enable
					input#checkboxPost(
						type='checkbox', name='methodPost', value='post', checked)
				else
					input#checkboxPost(
						type='checkbox', name='methodPost', value='post')
				strong Post
				span &nbsp;- to create new resource

			label.checkbox
				if resource.methods.put.enable
					input#checkboxPut(
						type='checkbox', name='methodPut', value='put', checked)
				else
					input#checkboxPut(
						type='checkbox', name='methodPut', value='put')
				strong Put
				span &nbsp;- to update resource

			label.checkbox
				if resource.methods.delete.enable
					input#checkboxDelete(
						type='checkbox', name='methodDelete', value='delete', checked)
				else
					input#checkboxDelete(
						type='checkbox', name='methodDelete', value='delete')
				strong Delete
				span &nbsp;- to delete resource

			p &nbsp;
			button#buttonSave.btn.btn-primary(type='submit') Save Changes
			|&nbsp;
			button#buttonDelete.btn.btn-danger(type='button') Delete (Danger!)